@model PagedList.IPagedList<Declaration.ViewModel.EmployeeViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>
    table {
        word-wrap: break-word;
    }
</style>

@*<div style="clear:both;margin-bottom:1rem;"></div>*@
<div style="width: 350px; float: right;">
    @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
    {
        <div class="form-group row">
            <div class="col-md-6 offset-3">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", autocomplete = "off" })
            </div>
            <div class="col-md-2">
                <input class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>
    }
</div>

<div style="float:left;padding-bottom:20px;">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Export", "Export", null, new { @class = "btn btn-light" })
</div>



<table class="table" style="width:1000px;">
    <tr>
        <th>
            Badge Id
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Email
        </th>
        <th>
            Department
        </th>
        <th>
            Superior Name
        </th>
        <th>
            Approver Name
        </th>
        <th>
            Submitted Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperiorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BadgeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BadgeId })
            </td>
        </tr>
    }

</table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
